/* Global Styles */
@font-face {
	font-family: 'VerelaRound';
	src: url('VarelaRound-Regular.eot'); /* IE9 Compat Modes */
	src: url('VarelaRound-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   
	     url('VarelaRound-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('VarelaRound-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
html,
body {
  height: 100%;
  width: 100%;
  color:#7a7a7a;
  font-family:"VerelaRound";
}
h1, .h1, h2, .h2, h3, .h3 {
margin-top: 0px;
margin-bottom: 0;
padding: 20px 0
}
#boxWrapp{
width:100%;
max-width:1360px;
margin:0 auto;
padding:0;
overflow:hidden;
}
.build{
padding:15px 0;
margin:0;
}
.build ul{
padding:0;
margin:0;
list-style:none;
position:relative;
}

/* =============================== header ===================================== */
.header {
background: url(../img/bghead.png) no-repeat center fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
position:relative;
}
.maskHeader{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(42, 163, 173, 0.8);
}

.vert-text {
 width:100%;
  vertical-align: middle;
  text-align: center;
  padding:0 0;
  color:#fff;
  position:absolute;
  bottom:50%;
  left:50%;
  transform: translate(-50%, 50%);
-webkit-transform: translate(-50%, 50%);
-moz-transform: translate(-50%, 50%);
-ms-transform: translate(-50%, 50%);
-o-transform: translate(-50%, 50%);
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  color:#fff;
}
.vert-text h2{
color:#426369;
 font-size: 48px;
}
.btnAbout{
color:#fff;
font-size:48px;
position:fixed;
bottom:5%;
left:50%;
margin-left:-44px;
}
.btnAbout:hover{
 color:#fff;   
}
.progress {
clear: both;
}
.wrapp-progress{
position:relative;  
padding-top: 24px;
}
.wrapp-progress p{
font-size:14px;
margin:0;
padding:0;
line-height:24px;
position:absolute;
left:0;
top: 0px;
}

.precent-value{
font-size:14px;
line-height:24px;
position:absolute;
right:0;
top: 0px;
}

/* ==============================================================  Menu ======================================================= */

.navbar {
border-radius: 0px;
min-height: 86px;
margin-bottom: 0px;
width: 100%;
z-index:88;
}
a.navbar-brand {
float: left;
height: inherit;
padding: 18px 15px;
font-size: 36px;
line-height: 48px;
color:#fff;
}
.navbar-inverse .navbar-brand {
color:#fff;
}
.navbar-nav > li > a {
padding-top: 32px;
padding-bottom: 32px;
font-size:24px;
}
.navbar-nav > li span{
display: block;
padding: 24px 24px;
font-size: 24px;
color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
color: #fff;
}
.navbar-inverse .navbar-nav > li.current > a {
text-decoration:underline;
}
/* ========================================= title page ==================================== */
.line-title{
border-top: 5px solid #dedede;
height: 1px;
display: block;
position: relative;
margin:0 -15px;
padding-bottom:40px;
}

.title-page-white{
color:#7a7a7a;

}
.title-page-white h2{
display: table;
background: #fff;
position: relative;
margin: 0 auto;
top: 20px;
z-index: 77;
padding: 0 40px;
}

.title-page-gray{
color:#7a7a7a;

}
.title-page-gray h2{
display: table;
background: #f2f2f2;
position: relative;
margin: 0 auto;
top: 20px;
z-index: 77;
padding: 0 40px;
}

/* Full Page Image Header Area */

.header {
  position: relative;
 
}
.linear{
 transition:all 200ms linear;   
 -webkit-transition:all 200ms linear;   
 -moz-transition:all 200ms linear;   
 -ms-transition:all 200ms linear;   
 -o-transition:all 200ms linear;   
}
/* Intro */

.page {
  padding: 86px 0;
  position:relative;
}
.page-bgcolor{
background:#f2f2f2;
}
/* ================================================= about us ================================================== */
.about-content p{
font-size:24px;
}
/* ============================================== Services =======================================================*/

	
/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}


	
/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	
	 .features {
		color: #fff;
		font-family: "Open Sans", Helvetica, sans-serif;
		font-size: 12pt;
		font-weight: 400;
		letter-spacing: 0.075em;
		line-height: 1.65em;
	}


	

	


  h3{
		color: #fff;
		font-weight: 800;
		letter-spacing: 0.225em;
		line-height: 1em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

		

	h2 {
		font-size: 1.35em;
		line-height: 1.75em;
	}

		@media screen and (max-width: 736px) {

			h2 {
				font-size: 1.1em;
				line-height: 1.65em;
			}

		}

	h3 {
		font-size: 1.15em;
		line-height: 1.75em;
	}

		@media screen and (max-width: 736px) {

			h3 {
				font-size: 1em;
				line-height: 1.65em;
			}

		}

	
	

	

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: rgba(255, 255, 255, 0.5);
		position: relative;
		top: -0.25em;
	}

	header h3 + p {
		font-size: 1.1em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
	}

	header.major {
		margin: 0 0 3.5em 0;
	}

		header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
			border-bottom: solid 2px #fff;
			display: inline-block;
			padding-bottom: 1em;
			position: relative;
		}

			header.major h2:after, header.major h3:after, header.major h4:after, header.major h5:after, header.major h6:after {
				content: '';
				display: block;
				height: 1px;
			}

		header.major p {
			color: #fff;
			top: 0;
		}

		@media screen and (max-width: 736px) {

			header.major {
				margin: 0 0 2em 0;
			}

		}

	@media screen and (max-width: 980px) {

		header br {
			display: none;
		}

	}



/* Features */

	.features {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		list-style: none;
		padding: 0;
		width: 100%;
	}

		.features li {
			padding: 4em 4em 2em 6em ;
			display: block;
			position: relative;
			text-align: left;
			width: 50%;
		}

			.features li:nth-child(1) {
				background-color: rgba(0, 0, 0, 0.035);
			}

			.features li:nth-child(2) {
				background-color: rgba(0, 0, 0, 0.07);
			}

			.features li:nth-child(3) {
				background-color: rgba(0, 0, 0, 0.105);
			}

			.features li:nth-child(4) {
				background-color: rgba(0, 0, 0, 0.14);
			}

			.features li:nth-child(5) {
				background-color: rgba(0, 0, 0, 0.175);
			}

			.features li:nth-child(6) {
				background-color: rgba(0, 0, 0, 0.21);
			}

			.features li:nth-child(7) {
				background-color: rgba(0, 0, 0, 0.245);
			}

			.features li:nth-child(8) {
				background-color: rgba(0, 0, 0, 0.28);
			}

			.features li:nth-child(9) {
				background-color: rgba(0, 0, 0, 0.315);
			}

			.features li:nth-child(10) {
				background-color: rgba(0, 0, 0, 0.35);
			}

			
			.features li:nth-child(1) {
				border-top-left-radius: 3px;
			}

			.features li:nth-child(2) {
				border-top-right-radius: 3px;
			}

			.features li:nth-last-child(1) {
				border-bottom-right-radius: 3px;
			}

			.features li:nth-last-child(2) {
				border-bottom-left-radius: 3px;
			}

			@media screen and (max-width: 980px) {

				.features li {
					padding: 3em 2em 1em 2em ;
					text-align: center;
				}

					.features li:before {
						left: 0;
						margin: 0 0 1em 0;
						position: relative;
						top: 0;
					}

			}

			@media screen and (max-width: 736px) {

				.features li {
					padding: 3em 0 1em 0 ;
					background-color: transparent !important;
					border-top: solid 2px #fff;
					width: 100%;
				}

					.features li:first-child {
						border-top: 0;
					}

			}

/* Spotlight */

	.spotlight {
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
	}

		.spotlight .image {
			-moz-order: 1;
			-webkit-order: 1;
			-ms-order: 1;
			order: 1;
			border-radius: 0;
			width: 40%;
		}

			.spotlight .image img {
				border-radius: 0;
				width: 100%;
			}

		.spotlight .content {
			padding: 2em 4em 0.1em 4em ;
			-moz-order: 2;
			-webkit-order: 2;
			-ms-order: 2;
			order: 2;
			max-width: 48em;
			width: 60%;
		}

		.spotlight:nth-child(2n) {
			-moz-flex-direction: row-reverse;
			-webkit-flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
		}

		.spotlight:nth-child(1) {
			background-color: rgba(0, 0, 0, 0.075);
		}

		.spotlight:nth-child(2) {
			background-color: rgba(0, 0, 0, 0.15);
		}

		.spotlight:nth-child(3) {
			background-color: rgba(0, 0, 0, 0.225);
		}

		.spotlight:nth-child(4) {
			background-color: rgba(0, 0, 0, 0.3);
		}

		.spotlight:nth-child(5) {
			background-color: rgba(0, 0, 0, 0.375);
		}

		.spotlight:nth-child(6) {
			background-color: rgba(0, 0, 0, 0.45);
		}

		.spotlight:nth-child(7) {
			background-color: rgba(0, 0, 0, 0.525);
		}

		.spotlight:nth-child(8) {
			background-color: rgba(0, 0, 0, 0.6);
		}

		.spotlight:nth-child(9) {
			background-color: rgba(0, 0, 0, 0.675);
		}

		.spotlight:nth-child(10) {
			background-color: rgba(0, 0, 0, 0.75);
		}

		@media screen and (max-width: 1280px) {

			.spotlight .image {
				width: 45%;
			}

			.spotlight .content {
				width: 55%;
			}

		}

		@media screen and (max-width: 980px) {

			.spotlight {
				display: block;
			}

				.spotlight br {
					display: none;
				}

				.spotlight .image {
					width: 100%;
				}

				.spotlight .content {
					padding: 4em 3em 2em 3em ;
					max-width: none;
					text-align: center;
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			.spotlight .content {
				padding: 3em 2em 1em 2em ;
			}

		}

/* Wrapper */

	.wrapper {
		padding: 6em 0 4em 0 ;
	}

		.wrapper > .inner {
			width: 60em;
			margin: 0 auto;
		}

			@media screen and (max-width: 1280px) {

				.wrapper > .inner {
					width: 90%;
				}

			}

			@media screen and (max-width: 980px) {

				.wrapper > .inner {
					width: 100%;
				}

			}

		.wrapper.alt {
			padding: 0;
		}

		
		.wrapper.style3 {
			background-color: #005A6D;
			color: #d3d4e4;
		}

			.wrapper.style3 strong, .wrapper.style3 b {
				color: #ffffff;
			}

			.wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
				color: #ffffff;
			}

			.wrapper.style3 hr {
				border-color: rgba(0, 0, 0, 0.125);
			}

			.wrapper.style3 blockquote {
				border-color: rgba(0, 0, 0, 0.125);
			}

			.wrapper.style3 code {
				background: rgba(255, 255, 255, 0.075);
			}

			.wrapper.style3 header p {
				color: #b9bad3;
			}

			.wrapper.style3 header.major h2, .wrapper.style3 header.major h3, .wrapper.style3 header.major h4, .wrapper.style3 header.major h5, .wrapper.style3 header.major h6 {
				border-color: rgba(0, 0, 0, 0.125);
			}

			.wrapper.style3 header.major p {
				color: #d3d4e4;
			}

			.wrapper.style3 label {
				color: #ffffff;
			}

		/*=================contact====================*/
.main-contact{
 padding: 40px 0;
}


.contact-info p span{
width:24px;
height:24px;
text-align:center;
}
.contact-info .fa{
font-size:18px;
vertical-align:middle;
margin-right:20px;
}

.contact p{
font-size:24px;
margin:0;
padding:0 0 0 0;
}
.contact span{
border-radius: 100%;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-ms-border-radius: 100%;
-o-border-radius: 100%;
border:3px solid #7a7a7a;
width:48px;
height:48px;
text-align:center;
font-size:24px;
line-height:42px;
vertical-align:middle;
margin-right:15px;
}
.table-contact{
display:table;
width:100%;
}
ul.table-contact li{
padding-bottom:30px;
}
ul.table-contact li:nth-last-child(1){
padding-bottom:0px;
}
.row-contact{
display:table-row;
padding:0 0 15px 0;
}
.cell-contact{
display:table-cell;
}
.w-cell{
width:48px;
}
/* Footer */

footer {
   color: #ffffff;
  background: #222121;
  padding: 20px 0;
}
.cp-right P{
margin:0;
padding:10px 0;
}
.cp-right P a{
 color:#fff;
 text-decoration:underline;
}
.top-scroll {
  margin: 0;
  padding:0;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
  display:block;
  font-size:92px;
  line-height:48px;
}
.top-scroll a:hover{
color:#fff;
}
i.scroll {
color: #fff;
position: absolute;
top: -15px;
left:50%;
margin-left: -28px;
}

i.scroll:hover {
color:#fff;
}

	



/* ========================================== Footer ======================================================= */
.list-inline > li {
display: inline-block;
padding-right: 10px;
padding-left: 10px;
}
.list-inline > li a i{
 vertical-align:middle;
 line-height: 41px;

}
.socIcon{
display:block;
color:#fff;
animation-duration: 750ms;
  -webkit-animation-duration: 750ms;
  -moz-animation-duration: 750ms;
  -ms-animation-duration: 750ms;
  -o-animation-duration: 750ms;
  -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    -ms-animation-delay: 1000ms;
    -o-animation-delay: 1000ms;
        animation-iteration-count: 1;   
        -webkit-animation-iteration-count: 1;   
        -moz-animation-iteration-count: 1;   
        -ms-animation-iteration-count: 1;   
        -o-animation-iteration-count: 1;  
}
.socIcon:hover{
color:#fff;
}
/* ========================================== Responsive ======================================================= */

/* @media screen and (min-width:768px) and (max-width: 1024px){
ul.container_folio li:nth-last-child(1).box{
float:left;
}
} */
@media screen and (min-width:240px) and (max-width: 1024px){
.navbar-nav{
margin:0;
}
.vert-text h1 {
font-size: 48px;
    }
.vert-text h2 {
font-size: 36px;
    }
.btnAbout{
     bottom:-2%;   
    }
}
@media screen and (min-width:240px) and (max-width: 991px){
.cp-right, ul.list-inline{
 text-align:center;       
    }
i.scroll {
color: #fff;
position: relative;
top: 0;
left: 0;
margin-left: 0;
}
    
}

@media (min-width: 768px){
.navbar-nav {
float: none;}
}
@media screen and (min-width:768px) and (max-width: 1199px){
.folio-caption p{
font-size:12px;
}
}
@media screen and (min-width:240px) and (max-width: 767px){
ul.container_folio{
text-align:center;
}
    
 ul.container_folio li.box{
margin:0;
padding:0 15px;
width:100%;
max-width:380px;
display:inline-block;
float:none;
}   

.navbar ul.pull-right{
float:none !important;
}
.navbar-inverse .navbar-nav > li > a.btn, .navbar-inverse .navbar-nav > li span {
    display:none;
}

.navbar-toggle {
margin-top: 25px;
}

}
@media screen and (min-width:240px) and (max-width: 660px){
.btnAbout {
bottom: -5%;
margin-left: -36px;
}
.fa-2x {
font-size: 1.5em !important;
}
.top-scroll a{
font-size: 60px;
}
.vert-text h1 {
font-size: 36px;
    }
.vert-text h2 {
font-size: 21px;
    }
.w-cell {
width: 20%;
}
.title-page-white h2, .title-page-gray h2{
font-size:24px;
top: 16px;
}
a.navbar-brand {
font-size: 24px;
}
.about-content p, .contact p {
font-size: 18px;
}
.contact span {
width: 40px;
height: 40px;
font-size: 16px;
line-height: 34px;
}
.navbar-nav > li > a {
padding-top: 23px;
padding-bottom: 23px;
font-size: 18px;
}
}

